<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game prices</title>
    <style>
        tr:nth-child(even) {background-color: #f2f2f2;}
        th td {
            font-size: 1em;
        }
        th {
            font-weight: bold;
        }
        td {
            text-align: right;
        }
    </style>
</head>
<body>
    <table>
        <tr><th>Game</th><th>current</th>
        <th style="color: red;">3 month</th>
        <th style="color: blue;">12 month</th>
        <th style="color: green">all time</th></tr>

        {% for game in game_prices %}
        <tr>
            <td style="text-align: left;">{{ game.name[:20] }}</td>
            <td>
            {% if game.price.low_all_time >= 0 %}
            <span style="color: green;">
            {% elif game.price.low_12_month >= 0 %}
            <span style="color: blue;">
            {% elif game.price.low_3_month >= 0 %}
            <span style="color: red;">
            {% else %}
            <span>
            {% endif %}
                {{ game.price.current }}
            </span></td>
            <td style="color: red;">{{ game.price.low_3_month }}</td>
            <td style="color: blue;">{{ game.price.low_12_month }}</td>
            <td style="color: green;">{{ game.price.low_all_time }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>